NEXT_PUBLIC_STELLAR_NETWORK=local
NEXT_PUBLIC_STELLAR_LOCAL_RPC_URL=http://localhost:8000/rpc
NEXT_PUBLIC_STELLAR_LOCAL_NETWORK_PASSPHRASE=Standalone Network ; February 2017
NEXT_PUBLIC_STELLAR_LOCAL_ADMIN_ADDRESS=GCLGEIQB4RCG63LSIBSHQ6T67YICWKTHSORNHVXHFVVGXISZU3MQU6CO
NEXT_PUBLIC_STELLAR_LOCAL_CONTRACT_ID=
NEXT_PUBLIC_STELLAR_TESTNET_RPC_URL=https://soroban-testnet.stellar.org
NEXT_PUBLIC_STELLAR_TESTNET_NETWORK_PASSPHRASE=Test SDF Network ; September 2015
NEXT_PUBLIC_STELLAR_TESTNET_ADMIN_ADDRESS=GCLGEIQB4RCG63LSIBSHQ6T67YICWKTHSORNHVXHFVVGXISZU3MQU6CO
NEXT_PUBLIC_STELLAR_TESTNET_CONTRACT_ID=CBV6BSB6V2COGK2XSYFXE5SJ3DBR7GUW4NDMXUWSYYXFMUJ6OQ25FY3R
MERCURY_JWT=
MERCURY_BASE_URL=https://testnet.mercurydata.app/rest
MERCURY_RETROSHADE_PROGRAM_ID=15
MERCURY_RETROSHADE_PROJECT=punch-arena-retroshade-v2
