NEXT_PUBLIC_STELLAR_NETWORK=local
NEXT_PUBLIC_STELLAR_LOCAL_RPC_URL=http://localhost:8000/rpc
NEXT_PUBLIC_STELLAR_LOCAL_NETWORK_PASSPHRASE=Standalone Network ; February 2017
NEXT_PUBLIC_STELLAR_LOCAL_CONTRACT_ID=
NEXT_PUBLIC_STELLAR_TESTNET_RPC_URL=https://soroban-testnet.stellar.org
NEXT_PUBLIC_STELLAR_TESTNET_NETWORK_PASSPHRASE=Test SDF Network ; September 2015
NEXT_PUBLIC_STELLAR_TESTNET_CONTRACT_ID=
